OPENAI_API_KEY=""

SUPABASE_URI=""
SUPABASE_PASSWORD=""
SUPABASE_CUSTOMER_ID=""

### Tracing - Optional
LANGSMITH_TRACING=true
# LANGCHAIN_TRACING_V2=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT=""