OPENAI_API_KEY=""

SUPABASE_URL=""
SUPABASE_PASSWORD=""

### Tracing - Optional
LANGSMITH_TRACING=true
# LANGCHAIN_TRACING_V2=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT=""