OPENAI_API_KEY=""

# Optional but recommended for observability
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=""
LANGSMITH_PROJECT="mcp-intro"

MCP_GITHUB_PAT=""